// can add Boostrap overrides, additional Sass/CSS below...

$font-stack: 'Roboto', sans-serif;
$mono-font-stack: 'Roboto Mono', monospace;
$primary-color: #333;

body {
  font-family: $font-stack;
  font-weight: normal;
  color: $primary-color;
}

.navbar {
  font-family: $mono-font-stack;
}


h4 {
  color: #F44336;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

ul.pagination li a.active {
  background-color: #F44336;
  color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
