// can add Boostrap overrides, additional Sass/CSS below...

$font-stack: 'Roboto', sans-serif;
$mono-font-stack: 'Roboto Mono', monospace;
$primary-color: #333;

body {
  font-family: $font-stack;
  font-weight: normal;
  color: $primary-color;
}

.navbar {
  font-family: $mono-font-stack;
}


h4 {
  color: #F44336;
}
